*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
body{
    background: #3a6073;
}
section{
    position: relative;
    display: flex;
    align-items: center;
    gap: 50px;
    padding: 0 50px;
    min-height: 100vh;
    max-width: 90vw;
    margin: 0 auto;
}
section a{
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    color: #717171;
    font-weight: 500;
    background:#fff;
    border-radius: 48px;
    margin: 0 auto;
    padding: 6px 26px;
    font-size: 16px;
}
.swiper{
    width: 100%;
}
.swiper-slide{
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    padding: 0 0 80px;
    filter: grayscale(0.6);
}
.swiper-slide h2{
    color: #fff;
    font-weight: 400;
    font-size: 24px;
    line-height: 1.4;
    margin-bottom: 10px;
    text-transform: uppercase;
    text-align: center;
}
.swiper-pagination {
    bottom: 34px !important;
}
.swiper-slide div{
    transition: 0.25s;
    opacity: 0;
}
.swiper-slide-active div{
    opacity: 1;
}
.swiper-slide--part1{
    background:url(./images/bmw7.png) no-repeat 50% 50% /cover;
}
.swiper-slide--part2{
    background:url(./images/b\,w2.png) no-repeat 50% 50% /cover;
}
.swiper-slide--part3{
    background:url(./images/bmw5.png) no-repeat 50% 50% /cover;
}
.swiper-slide--part4{
    background:url(./images/bmw9.png.crdownload) no-repeat 50% 50% /cover;
}
.swiper-slide--part5{
    background:url(./images/bmw99.png) no-repeat 50% 50% /cover;
}
.swiper-3d
.swiper-slide-shadow-left,
.swiper-3d
.swiper-slide-shadow-right{
    background-image: none;
}